body {
    background-color: white;
    font-size: 16px;
}
.favourite-container {
    height: 50px;
}

.components-folder {
    display: flex;
    background-color: black;
}

.favourite {
    text-align: center;
    display: flex;
    flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.dessert-options {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.component-link{
    color: white;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.heading {
    margin-top: 20px;
    color: white;
}

.form-component {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.greetings-input {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 0px;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.button {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border: 2px solid black;
    margin-top: 20px;
    font-weight: bold;
}

.disabled-button {
    display: flex;
    justify-content: center;
}

.visited-cities {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.disable-component {
    flex-direction: row;
    width: 200px;
}
.disable-checkbox {
    margin-right: 10px;
}

.display-message {
    display: flex;
    justify-content: center;
}

.form-component-lists {
    margin-left: 10px;
    font-size: 16px;
}

.home-page {
    margin-left: 10px;
}
.border {
    border: 2px solid black;
    border-radius: 0px;
    font-size: 18px;
    background-color: white;
}

.margin-top {
    margin-top: 0px;
}

input:checked {
  background-color: #2196F3;
}

.disable {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

.parent-counter {
    text-align: center
}

.increase-count-btn {
    border: 2px solid black;
    border-radius: 0px;
    height: 30px;
    margin-top: 20px;
    font-size: 16px;
}

.count {
    font-size: 25px;
    font-family: bold;
}